#  Exercise 5 List

##### 1. Declare an empty list

In [3]:
list1 = list()
list2 = []
list3 = {}
print(f' the three lists are {list1},{list2},{list3}')

 the three lists are [],[],{}

##### 2. Declare a list with more than 5 items

In [4]:
top = ['Aliyu','Kane','Malik','Ibrahim',"Yusuf",'Musa','Zainab']

##### 3. Find the length of your list

In [5]:
list_length = len(top)
print(f'The length of the list is {list_length}')

The length of the list is 7

##### 4. Get the first item, the middle item and the last item of the list

In [7]:
first_item =  top[0]
middle_item =  top[int(len(top)/2)]
last_item =  top[-1]  # Zubayr
print(f'The first, middle and last items in the list are {first_item},{middle_item} and {last_item} respectively ')

The first, middle and last items in the list are Aliyu,Ibrahim and Zainab respectively

##### 5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [8]:
mixed_data_types = ['Aliyu', 40, 1.8,'Married','Sokoto']

##### 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [9]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

##### 7. Print the list using print()

In [10]:
print(it_companies)
print(mixed_data_types)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Aliyu', 40, 1.8, 'Married', 'Sokoto']

##### 8. Print the number of companies in the list

In [11]:
comp_length = len(it_companies)
print(len(mixed_data_types))
print(f'The number of companies in the list is {comp_length} ')

5
The number of companies in the list is 7

##### 9. Print the first, middle and last company

In [13]:
first_comp = it_companies[0]
middle_comp = it_companies[len(it_companies)//2]
last_comp = it_companies[-1]
print(f'The first middle and last companies are {first_comp},{middle_comp} and {last_comp} respectively.')

The first middle and last companies are Facebook,Apple and Amazon respectively.

##### 10. Print the list after modifying one of the companies

In [14]:
it_companies[0] = 'Blackberry'
print(it_companies)

['Blackberry', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

##### 11. Add an IT company to it_companies

In [15]:
it_companies.insert(0,'Google')
print(it_companies)

['Google', 'Blackberry', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

##### 12. Insert an IT company in the middle of the companies list

In [16]:
it_companies.insert(len(it_companies)//2,'Zipline')
print(it_companies)

['Google', 'Blackberry', 'Google', 'Microsoft', 'Zipline', 'Apple', 'IBM', 'Oracle', 'Amazon']

##### 13. Change one of the it_companies names to uppercase (IBM excluded!)

In [17]:
it_companies[0] = it_companies[0].upper()
print(it_companies)

['GOOGLE', 'Blackberry', 'Google', 'Microsoft', 'Zipline', 'Apple', 'IBM', 'Oracle', 'Amazon']

##### 14. Join the it_companies with a string '#;  '

In [18]:
'#;  '.join(it_companies)

'GOOGLE#;  Blackberry#;  Google#;  Microsoft#;  Zipline#;  Apple#;  IBM#;  Oracle#;  Amazon'

##### 15. Check if a certain company exists in the it_companies list.

In [19]:
'Facebook' in it_companies

False

##### 16. Sort the list using sort() method

In [20]:
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Blackberry', 'GOOGLE', 'Google', 'IBM', 'Microsoft', 'Oracle', 'Zipline']

##### 17. Reverse the list in descending order using reverse() method

In [21]:
it_companies.reverse()
print(it_companies)

['Zipline', 'Oracle', 'Microsoft', 'IBM', 'Google', 'GOOGLE', 'Blackberry', 'Apple', 'Amazon']

##### 18. Slice out the first 3 companies from the list

In [22]:
it_companies[:3]

['Zipline', 'Oracle', 'Microsoft']

##### 19. Slice out the last 3 companies from the list

In [23]:
it_companies[-3:]

['Blackberry', 'Apple', 'Amazon']

##### 20. Slice out the middle IT company or companies from the list

In [24]:
it_companies[len(it_companies)//2:len(it_companies)//2+1]

['Google']

##### 21. Remove the first IT company from the list

In [25]:
it_companies.pop(0)
it_companies

['Oracle',
 'Microsoft',
 'IBM',
 'Google',
 'GOOGLE',
 'Blackberry',
 'Apple',
 'Amazon']

##### 22. Remove the middle IT company or companies from the list

In [26]:
it_companies.pop(int(len(it_companies)/2))

'GOOGLE'

##### 23. Remove the last IT company from the list

In [27]:
it_companies.pop()

'Amazon'

##### 24. Remove all IT companies from the list

In [28]:
it_companies.clear()
it_companies

[]

##### 25. Destroy the IT companies list

In [ ]:
del it_companies
it_companies

##### 26. Join the following lists:

In [30]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.extend(back_end)
print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

##### 27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [31]:
full_stack = front_end.copy() # front_end contains the two lists
full_stack.index('Redux') # 4
full_stack.insert(5,'Python') # insertion is done before the index
full_stack.insert(full_stack.index('Python')+1,'SQL')
full_stack

['HTML',
 'CSS',
 'JS',
 'React',
 'Redux',
 'Python',
 'SQL',
 'Node',
 'Express',
 'MongoDB']

## Exercises: Level 2

##### 1. The following is a list of 10 students ages:

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

###### A. Sort the list and find the min and max age
###### B. Add the min age and the max age again to the list
###### C. Find the median age (one middle item or two middle items divided by two)
###### D. Find the average age (sum of all items divided by their number )
###### E. Find the range of the ages (max minus min)
###### F. Compare the value of (min - average) and (max - average), use abs() method

In [6]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [8]:
min_age = min(ages)
max_age = max(ages)
print(f'The minimum age is {min_age} and the maximum age is {max_age} ')

The minimum age is 19 and the maximum age is 26

In [7]:
ages.extend([19,26])
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [9]:
ages.sort()
ages_length = len(ages)
len(ages)
print(ages[int(len(ages)/2-1)],ages[int(len(ages)/2)])

24 24

In [10]:
if ages_length % 2 == 0:
  cond1 = ages[ages_length//2]
  cond2 = ages[ages_length//2-1]
  median_age = (cond1 + cond2)/2

else: 
  median_age = ages[ages_length//2]
print(f'The median age of the ages is {median_age}')

The median age of the ages is 24.0

In [11]:
average = sum(ages)/len(ages) # 22.75
print(f'The average age is {average}')

rng = max(ages) - min(ages) # 7
print(f'The range of the ages is {rng}')

abs(min(ages) - average) == abs(max(ages)- average)

The average age is 22.75
The range of the ages is 7

False

###### 2. Find the middle country(ies) in the countries list countries
###### A. Divide the countries list into two equal lists if it is even if not one more country for the first half.
###### B. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [ ]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]
countries.sort()
countries_length = len(countries)

if countries_length % 2 == 0:
  cond1 = countries[countries_length//2]
  cond2 = countries[countries_length//2-1]
  middle_country = (cond1 , cond2)

 else: 
  middle_country = countries[countries_length//2]
print(f'The mid country in the countries list is {middle_country}')

mid_country = countries[len(countries)//2]
print(f'The middle country in the list is {mid_country} ')
countries.index('Lesotho')

countries_length = len(countries) # 193 = odd
first_half = countries[:countries_length//2]
second_half = countries[countries_length//2:]
first_half_length = len(first_half)
second_half_length = len(second_half)

print(f'The length of the two halves are {first_half_length} and {second_half_length} ')

CH,RU,US,*scandic = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
scandic
print(f'The scandic countries in the last list given are {scandic}')